#canvas{
    width: 250px;
}

body{
  background: url(./images/background2.png);
  background-blend-mode: soft-light;
  background-color: #212529;
  background-size: cover;
}

.background-dark{
  background-color: #212529;
}

.top-slide{
    -webkit-animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320,  0.77) both;
    animation: slide-in-blurred-top 1s cubic-bezier(0.230, 1.000, 0.320,  0.77) both;
    animation-delay: 0.25s;
}

.fade-in{
    -webkit-animation: fade-in 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: fade-in 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation-delay: 1.5s;
}

.onload-wobble {
	-webkit-animation: wobble-hor-bottom 1.5s ease-in-out both;
	        animation: wobble-hor-bottom 1.5s ease-in-out both;

    animation-delay: 1.75s;
}


.btn{
    border-width: 2px;
    -webkit-animation: slide-in-right 0.75s cubic-bezier(0.18, 0.89, 0.32, 1.28) both;
    animation: slide-in-right 0.75s cubic-bezier(0.18, 0.89, 0.32, 1.28) both;
    animation-delay: 0.5;
    background: linear-gradient(to right, white 50%, rgb(33,37,41) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}


.btn:hover {
  background-position: left bottom;
}

.btn:focus,.btn:active{
  color: white;
}

.btn:hover.btn:focus {
  color: black;
}

.btn:hover.btn:active {
  color: black;
}


.btn-about:after{
    content:'🏀 About';
}
.btn-about:hover:after{
    animation: changeBall 0.5s linear;
    animation-fill-mode: forwards;
}

.btn-contact:after{
    content:'🤙 Contact';
}
.btn-contact:hover:after{
    animation: changePhone 0.5s linear;
    animation-fill-mode: forwards;
}

.poppins{
    font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'Poppins';
  src: URL('./Poppins-ExtraBold.ttf') format('truetype');
}

#hellothere{
    font-size: 85px;
}

#skillz{
  font-size: 85px;
}

.large-font{
  font-size: 85px;
}

.center-card{
    margin: auto;
    width: fit-content;
    padding: 30px;
    border-radius: 10px;
    border-width: 2px !important;
    will-change: auto;
}

.glassy-white{
    background: rgba( 255, 255, 255, 0.34 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 50px;
    width: 80%;
    /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}

.glassy-white-nav{
  background: rgb(255 255 255 / 0%) !important;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}

.orange-purple-grad{
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.feather-moon,.feather-sun{
    width: 32px;
    height: 32px;
}

#sunMoon > svg{
  will-change: auto;
}


.spacer{
  margin: 15rem;
}
/*#progress-bar{
    position: fixed;
    height: 1%;
    left: 0;
    top: 0;
    opacity: 0.75;
    background: linear-gradient(45deg, #ff0e0e, #003dff);
}*/

.gradient-text{
    background: -webkit-linear-gradient(43deg, #2512c9 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wobble-hor-bottom:hover {
	-webkit-animation: wobble-hor-bottom 1.5s ease-in-out both;
	        animation: wobble-hor-bottom 1.5s ease-in-out both;
    
}

@media (max-width: 900px) { 
  .nav-btn{
    margin-bottom: 1rem;
  }
  #sunMoon{
    margin-left: 0.5rem !important;
  }
  .exp-logo{
    width: 4rem !important;
    height: 4rem !important;
  }
  .exp-font{
    font-size: 85%;
  }
 }

 @media (max-width: 520px) { 
  .skillz-font{
    width: 100%;
  }
  #experience{
    font-size: 60px;
  }
 }

 @media (max-width: 575.98px) {
  .exp-description{
    max-width: 95%;
  }
 }

 @media (min-width: 900px) { 
  .skillz-font{
    font-size: 3rem !important;
  }  
 }

 @media (max-width: 400px) {
  #experience{
    font-size: 40px;
  }
 }

 /*
 @media (max-width: 848) { 
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
 }*/

.wobble-hor-bottom{
    will-change: auto;
}

.integration {
  -webkit-animation: circular 6s linear infinite normal;
  animation: circular 6s linear infinite normal;
  position: absolute;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.integration>img {
  /* border-radius: 49%; */
  object-fit: contain;
  border-radius: 50%;
  transition: ease .5s;
  border: 2px solid #d2e1e800;
}

.integration-text {
  font-family: monospace;
  text-align: center;
  color: #4267B2;
}

.integration:hover>img {
  transform: scale(1.3);
  transition: ease .5s;
  border-color: #ffffff;
  background: #ffffff40;
  border-width: 3px;
  box-shadow: 0 0 20px -3px #173647c9;
}

.integration:hover>.integration-details {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: ease 0.1s;
}


.active-integration {
  transform: scale(1.3);
  transition: ease .5s;
  border-color: #4267B2;
}

.active-integration>img {
  transform: scale(1.3);
  transition: ease .5s;
  border-color: #4267B2;
  box-shadow: 0 0 20px -3px #173647c9;
}

.active-integration>.integration-details {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: ease 0.1s;
}

.center-logo {
  margin: auto;
  display: block;
}


.integration-container {
  margin: auto;
  width: 80%;
  position: relative;
  border: solid white;
  margin-top: 5%;
  padding: 150px 50px 150px 50px;
  background-image: url(./images/background3.png);
  border-radius: 10px;
  background-size: cover;
}

.integration-details {
  border-radius: 50px;
  transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  width: 160px;
  left: calc(50% - 80px);
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  padding: 6px;
  padding: 6px 0px 6px 0px;
  line-height: 22px;
  text-align: center;

  -webkit-animation: show-integrations 10s linear infinite normal;
  animation: show-integrations 10s linear infinite normal;
}

.integration-details>p {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  font-family: monospace;
  font-weight: 600;
}

#integration-1 {
  right: 65%;
  animation-direction: reverse;
}

#integration-1>img {
  height: 120px;
  width: 120px;
  padding: 5px;
}


#integration-2 {
  top: 65%;
  left: 65%;
  animation-duration: 6.5s;
}

#integration-2>img {
  height: 80px;
  width: 80px;
  padding: 4px;
}

#integration-3 {
  bottom: 65%;
  right: 65%;
  animation-duration: 5.5s;
}

#integration-3>img {
  height: 100px;
  width: 100px;
  padding: 6px;
}

#integration-4 {
  bottom: 65%;
  left: 65%;
  animation-duration:5.75s;
  animation-direction: reverse;
}

#integration-4>img {
  height: 90px;
  width: 90px;
  padding: 16px;
}

#integration-5 {
  bottom: 70%;
  left: 42%;
}

#integration-5>img {
  height: 90px;
  width: 90px;
  padding: 15px;
}

.exp-text{
  border-radius: 50%;
  padding: .2rem;
  cursor: pointer;
}

.exp-text-selected{
  background: -webkit-linear-gradient(43deg, #2512c9 0%, #C850C0 46%, #FFCC70 100%);
}

.exp-logo{
  height: 5rem;
  width: 5rem;
  padding: 1.25rem;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
  object-fit: contain;
  filter: grayscale();
}

.exp-logo:hover{
  background: -webkit-linear-gradient(43deg, #2512c9 0%, #C850C0 46%, #FFCC70 100%);
  transform: scale(1.1);
  transition: 0.3s;
  padding: .5rem;
  filter: none !important;
}

.exp-description{
  border: white solid;
  border-radius: 20px;
  background: #ffffff14;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  padding: 1.5rem;
  font-weight: bold;
}

.exp-description > a,h1{
  color: #ffb47b
}

.exp-description > h1{
  text-decoration: underline;
  text-underline-offset: 15%;
  text-align: center;
}

.selected-exp{
  background: -webkit-linear-gradient(43deg, #ffb375 0%, #f8f9fa 46%, #FFCC70 100%);
  transform: scale(1.1);
  transition: 0.3s;
  padding: .5rem;
  filter: none !important;
  border: white solid;
}

.selected-exp:hover{
  background: -webkit-linear-gradient(43deg, #ffb375 0%, #f8f9fa 46%, #FFCC70 100%);
  transform: scale(1.1);
  transition: 0.3s;
  padding: .5rem;
  filter: none !important;
  border: white solid;
}

.exp-logo-float{
  background: -webkit-linear-gradient(43deg, #ffb375 0%, #f8f9fa 46%, #FFCC70 100%);
  transform: scale(1.1);
  filter: none !important;
  border: white solid;
  height: 3rem;
  position: absolute;
  width: 3rem;
  right: 15px;
  top: 10px;
  padding: 0.25rem;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
  object-fit: contain;
  animation: spin;
  animation-duration: 1.5s;
}


@keyframes circular {
  from {
      -webkit-transform: rotate(0) translateX(4px) rotate(0);
      transform: rotate(0) translateX(4px) rotate(0)
  }

  to {
      -webkit-transform: rotate(360deg) translateX(4px) rotate(-360deg);
      transform: rotate(360deg) translateX(4px) rotate(-360deg)
  }
}


@keyframes scale-opacity-pop-in {
  0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0)
  }

  40% {
      opacity: .7;
      -webkit-transform: scale(.8);
      transform: scale(.8)
  }

  50% {
      opacity: .7;
      -webkit-transform: scale(1);
      transform: scale(1)
  }

  55% {
      opacity: 1;
      -webkit-transform: scale(.6);
      transform: scale(.6)
  }

  70% {
      opacity: 1;
      -webkit-transform: scale(.95);
      transform: scale(.95)
  }

  85% {
      opacity: 1;
      -webkit-transform: scale(.85);
      transform: scale(.85)
  }

  100% {
      opacity: 1;
      -webkit-transform: scale(.85);
      transform: scale(.85)
  }
}



/* ----------------------------------------------
 * Generated by Animista on 2022-5-31 21:50:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  

  @keyframes changeBall {
    0% {
        content:'🏀 About';
    }
    50% {
      color: white;
    }
    100% {
        content:'🏀 Ballin\00a0';
    }
  }


  @keyframes changePhone {
    0% {
        content:'🤙 Contact';
    }
    50% {
      color: white;
    }
    100% {
        content: '🤙 Call Me \00a0';
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2022-5-31 22:45:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  

  /* ----------------------------------------------
 * Generated by Animista on 2022-5-31 22:47:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  

  @keyframes fade-in {
      0%{
          opacity: 0;
      }
      100%{
          opacity: 1;
      }
      
  }

  @keyframes spin {
    from {
        transform:rotate(0deg) scale(1.1);
    }
    to {
        transform:rotate(360deg) scale(1.1);
    }
}

  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    height: 1%;
    position: fixed;
    left: 0;
    bottom: 0;
    opacity: 0.75;
    z-index: 1;
    border-radius: 50px;
  }

  #me{
    border-radius: 50%;
    background: -webkit-linear-gradient(43deg, #2512c9 0%, #C850C0 46%, #FFCC70 100%);
    padding: 0.3rem;
    width: 13rem;
  }